$color1:white;
body{
    padding: ppx;
    margin: 0px;
    color: $color1;
    background-image: url(../lesson7/fon.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resume{
    max-width: 700px;
    margin: 20px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 20px;
    &_text{
        &_company{
            font-size: 40px;
            font-weight: 900;
            color: $color1;
            text-align: center;
        }
        &_hello{
            font-size: 32px;
            font-weight: bold;
            color: darkgreen;
            text-align: center;
        }
    }
    &_user{
        display: flex;
        justify-content: center;
    }
}
fieldset{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    margin-top: 15px; 
    border-radius: 10px;
}
label{
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 20px auto;
    padding: 2px 20px;
    
}
input{
    display: block;
    margin: 5px auto;
}
.skill{
    height: 60px;
    width: 290px;
}
.submit{
    width: 200px;
    height: 50px;
    margin: 40px auto 50px;
    background-color: green;
    color: black;
    border-radius: 30px;
    text-transform: uppercase;
    &:hover{
        width: 210px;
        height: 52px;
        background-color: rgb(1, 143, 1);
        font-size: 14px;

    }
}
