
.banner{
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1650px;
    overflow: hidden;
    &_slides{
        width: 400%;
        display: flex;
        margin: auto;
        &_slide{
            width: 24.9%;
            transition: all .6s ease;
            &>img{
                width: 95%;
                margin: 0px 50px;
            }
        }
    } 
    &_text{
        text-align: center;
        font-size: 26px;
        font-family: serif;
        text-transform: uppercase;
        letter-spacing: 1.35em;
    }
    &_lables{
        display: flex;
        width: 160px;
        height: 30px;
        &_label{
            height: 20px;
            width: 20px;
            cursor: pointer;
            background-image: url(img/dot_for_label.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
            border-radius: 10px;
            margin: 10px;
            transition:all .1s ease;
            &:hover{
                box-sizing: border-box;
                border: 3px solid rgb(255, 136, 0);
                border-radius: 50%;
                background-image: url(img/dot_for_label_hover.png);
            }
        }
    }
    &_who{
    text-transform: uppercase;
    font-size: 12px;
    transform: rotate(90deg);
    position: absolute;
    right: -40px;
    top: 25%;
    letter-spacing: .3em;
    }  
    &_what{
        text-transform: uppercase;
        font-size: 12px;
        transform: rotate(-90deg);
        margin-left: 50px;
        position: absolute;
        left: -70px;
        letter-spacing: .3em;
        top: 25%;
        color: rgb(121, 4, 175);
        font-weight: bold;
    }
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
#slide1:checked ~ .sl1{
    margin-left: 0;
}
#slide2:checked ~ .sl1{
    margin-left: -25%;
}
#slide3:checked ~ .sl1{
    margin-left: -50%;
}
#slide4:checked ~ .sl1{
    margin-left: -75%;
}