body {
  margin: 0;
  padding: 0%;
  background: -webkit-gradient(linear, left top, left bottom, from(#121619), color-stop(#242d33), color-stop(#111619), color-stop(#191f23), to(#111619));
  background: linear-gradient(180deg, #121619, #242d33, #111619, #191f23, #111619);
  max-width: 1920px;
  font-size: 14px;
  letter-spacing: .1em;
  font-family: sans-serif;
  color: rgba(177, 177, 177, 0.562);
}

.header {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header_logo {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo_tenx {
  width: 120px;
  height: 30px;
  margin: 60px;
}

.header_logo_phone {
  width: 25px;
  height: 25px;
  margin: 15px;
}

.header_logo_number {
  display: inline-block;
  color: rgba(177, 177, 177, 0.562);
  letter-spacing: .12em;
  font-size: 12px;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: .12em;
}

.header_menu_ul {
  margin: 65px 100px 0 0;
}

.header_menu_ul_li {
  list-style-type: none;
  display: inline-block;
  margin: 0 25px;
}

.header_menu_ul_li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(177, 177, 177, 0.562);
}

.header_connection {
  position: absolute;
  right: 40px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_connection_logo {
  height: 14px;
  margin: 20px 5px 20px 0;
}

.header_connection_logo_inst {
  width: 22px;
}

.header_connection_logo_fon {
  display: none;
}

.header_connection_logo_big {
  height: 16px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  margin-bottom: 150px;
  text-align: center;
}

.footer_line1 {
  width: 500px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#f51992), to(#4d0886));
  background: linear-gradient(90deg, #f51992, #4d0886);
}

.footer_line2 {
  width: 500px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#f51992), to(#4d0886));
  background: linear-gradient(270deg, #f51992, #4d0886);
}

.footer_block {
  position: relative;
}

.footer_block_logo {
  height: 30px;
  width: 120px;
  margin-bottom: 30px;
}

.footer_block_nav_a {
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: dimgray;
}

.footer_block_nav_a:hover {
  color: white;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footer_block_img > a > img {
  height: 18px;
  margin: 18px;
  position: relative;
}

.footer_block_img > a > img:hover {
  top: 2px;
}

.banner {
  position: relative;
  width: 1650px;
  height: 700px;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, 1%);
          transform: translate(-50%, 1%);
}

.banner_slides {
  width: 400%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.banner_slides_slide {
  width: 25%;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.banner_slides_slide > img {
  width: 95%;
  height: 500px;
  margin: 0px 50px;
}

.banner_lables {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 30px;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner_lables_label {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url(img/dot_for_label.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border-radius: 10px;
  margin: 10px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.banner_lables_label:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #ff8800;
  border-radius: 50%;
  background-image: url(img/dot_for_label_hover.png);
}

.banner_who {
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -40px;
  top: 230px;
  letter-spacing: .3em;
}

.banner_what {
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 50px;
  position: absolute;
  left: -70px;
  letter-spacing: .3em;
  top: 230px;
  color: #7904af;
  font-weight: bold;
}

.banner_text {
  font-size: 26px;
  font-family: serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 1.35em;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#slide1:checked ~ .sl1 {
  margin-left: 0;
}

#slide2:checked ~ .sl1 {
  margin-left: -25%;
}

#slide3:checked ~ .sl1 {
  margin-left: -50%;
}

#slide4:checked ~ .sl1 {
  margin-left: -75%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(img/background_map.png);
  background-repeat: no-repeat;
  background-position-y: 40%;
}

.content_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.content_main_button {
  background-color: #f8268813;
  border-radius: 50%;
}

.content_main_text {
  font-size: 50px;
  text-align: center;
}

.content_main_authograph {
  width: 130px;
  background-color: none;
}

.content_article1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content_article1_img {
  height: 825px;
  width: 850px;
  position: relative;
}

.content_article1_img_line {
  width: 850px;
  height: 220px;
  background-color: #ed751b;
  position: absolute;
  top: 200px;
}

.content_article1_img_1 {
  width: 600px;
  height: 660px;
  position: absolute;
  left: 140px;
}

.content_article1_img_2 {
  width: 440px;
  height: 625px;
  position: absolute;
  bottom: 0px;
  right: 35px;
}

.content_article1_img_line2 {
  width: 135px;
  height: 220px;
  position: absolute;
  left: 140px;
  top: 200px;
  background: linear-gradient(45deg, #fc481b, #ed751b);
}

.content_article1_img_number {
  position: absolute;
  left: 280px;
  bottom: 75px;
  font-size: 26px;
}

.content_article1_img_number > b {
  color: white;
}

.content_article1_img_one {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 36px;
  top: 320px;
  left: 30px;
  color: white;
}

.content_article1_text {
  width: 740px;
  height: 450px;
  margin-left: 110px;
  position: relative;
  top: -40px;
}

.content_article2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-top: 240px;
}

.content_article2_text {
  width: 640px;
  height: 450px;
  margin-right: 60px;
  position: relative;
  top: -40px;
  text-align: right;
}

.content_article2_text_submit {
  margin-left: auto;
}

.content_article2_img {
  width: 850px;
  height: 825px;
  margin-left: 60px;
  position: relative;
}

.content_article2_img_line {
  height: 220px;
  width: 850px;
  background: -webkit-gradient(linear, right top, left top, from(#5e00ca), to(#d5536f));
  background: linear-gradient(-90deg, #5e00ca, #d5536f);
  position: absolute;
  top: 200px;
}

.content_article2_img_1 {
  width: 600px;
  height: 650px;
  position: absolute;
  left: 110px;
}

.content_article2_img_2 {
  width: 440px;
  height: 625px;
  position: absolute;
  bottom: 0px;
  left: 35px;
}

.content_article2_img_line2 {
  height: 220px;
  width: 140px;
  background: linear-gradient(45deg, #5e00ca, #d5536f);
  position: absolute;
  top: 200px;
  right: 140px;
}

.content_article2_img_number {
  position: absolute;
  right: 280px;
  bottom: 75px;
  font-size: 26px;
}

.content_article2_img_number > b {
  color: white;
}

.content_article2_img_one {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 36px;
  top: 320px;
  right: 30px;
  color: white;
}

.button5 {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button4 {
  width: 340px;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button3 {
  width: 280px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button2 {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article_name {
  font-size: 36px;
  color: white;
  font-family: serif;
  line-height: 1.5em;
}

.article_info {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 2em;
}

.article_submit {
  width: 200px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 2px;
  color: white;
  letter-spacing: .2em;
  background: -webkit-gradient(linear, right top, left top, from(#fc481b), to(#ed751b));
  background: linear-gradient(-90deg, #fc481b, #ed751b);
}

.button {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(img/fon-for-button.png);
  background-size: 490px;
  background-position: -120px -100px;
  position: relative;
}

.button_click {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #ff237746;
  border: none;
  background: url(img/play.png);
  background-repeat: no-repeat;
  background-position: center;
}

.button_click:hover {
  cursor: pointer;
}

.button_click:active {
  border-radius: 50%;
}

.button_ellipse {
  position: absolute;
  right: -19px;
  top: -7px;
  display: none;
}

.shops {
  padding-top: 270px;
  max-width: 1700px;
  margin: auto;
  background-image: url(img/background_portfolio.png);
  background-repeat: no-repeat;
  background-size: 96%;
  background-position: center 10%;
}

.shops_name {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: .3em;
  margin: 10px auto 100px;
}

.shops_shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shops_shop_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 520px;
  height: 670px;
  margin-bottom: 100px;
  position: relative;
}

.shops_shop_block:hover {
  background: linear-gradient(45deg, #af37ff, #fc481b);
}

.shops_shop_block > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 0px;
  letter-spacing: .2em;
  background: -webkit-gradient(linear, right top, left top, from(#fc481b), to(#ed751b));
  background: linear-gradient(-90deg, #fc481b, #ed751b);
}

.shops_shop_block > a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: -webkit-gradient(linear, left top, right top, from(#fc481b), to(#ed751b));
  background: linear-gradient(90deg, #fc481b, #ed751b);
  width: 220px;
  height: 55px;
  font-size: 18;
}

.shops_shop_block_product {
  width: 480px;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.shops_shop_block_product_name {
  font-size: 26px;
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 160px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.shops_shop_block_product_info {
  font-size: 16px;
  color: black;
  position: absolute;
  bottom: 130px;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.shops_shop_block_product_img1 {
  margin-top: 100px;
  width: 320px;
  height: 300px;
}

.shops_shop_block_product_img2 {
  margin-top: 10px;
  width: 260px;
  height: 400px;
}

.shops_shop_block_product_img3 {
  margin-top: 40px;
  width: 480px;
  height: 350px;
}

.shops_shop_block_product_img4 {
  margin-top: 30px;
  width: 270px;
  height: 380px;
}

.shops_shop_block_product_img5 {
  margin-top: 70px;
  width: 450px;
  height: 300px;
  margin-left: auto;
}

.shops_shop_block_product_img6 {
  margin-top: 30px;
  width: 600px;
  height: 400px;
}

.info {
  height: 1700px;
  margin-top: 200px;
  margin-bottom: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 1%);
          transform: translate(-50%, 1%);
  background-image: url(img/background_road.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 200px;
}

.info_form_text1 {
  font-size: 12px;
  color: #e727e7;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-family: serif;
}

.info_form_text2 {
  letter-spacing: .1em;
  font-family: serif;
  font-size: 50px;
  margin-top: 20px;
  color: white;
}

.info_form_nav > a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  margin: 10px 20px;
  text-transform: uppercase;
}

.info_form > input {
  width: 260px;
  height: 50px;
  margin-top: 40px;
  background: linear-gradient(45deg, #af37ff, #fc481b);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bolder;
}

.info_slides {
  width: 400%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_slides_slide {
  margin-top: 70px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info_slides_slide_block {
  width: 500px;
  height: 380px;
  position: relative;
}

.info_slides_slide_block:hover {
  background: linear-gradient(45deg, #af37ff, #fc481b);
}

.info_slides_slide_block_img {
  width: 75px;
  height: 70px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.info_slides_slide_block_name {
  font-size: 26px;
  color: white;
  position: absolute;
  top: 130px;
  left: 50px;
}

.info_slides_slide_block_text {
  font-size: 16px;
  color: white;
  position: absolute;
  top: 200px;
  left: 50px;
  font-weight: normal;
  text-align: left;
  line-height: 2em;
  padding-right: 20px;
}

.info_labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 900px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.info_labels_label {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url(img/dot_for_label.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border-radius: 10px;
  margin: 10px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.info_labels_label:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #ff8800;
  border-radius: 50%;
  background-image: url(img/dot_for_label_hover.png);
}

.info_text {
  width: 70%;
  font-size: 56px;
  color: white;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.info_mail {
  font-size: 56px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: block;
  text-decoration: none;
  border-bottom: 2px solid #ad1a81;
}

.info_mail_dot {
  color: #ad1a81;
}

input[name="info"] {
  position: absolute;
  visibility: hidden;
}

#info1:checked ~ .info_sl1 {
  margin-left: 0;
}

#info2:checked ~ .info_sl1 {
  margin-left: -25%;
}

#info3:checked ~ .info_sl1 {
  margin-left: -50%;
}

#info4:checked ~ .info_sl1 {
  margin-left: -75%;
}
/*# sourceMappingURL=final.css.map */